@page "/about"

    <div class='about-container'>
        <header>
            <div class="module-title">
                <div class='title'>ABOUT</div>
                <div class='underline'></div>
            </div>
        </header>
        <p>
            The Example Clinic demo application showcases using several Syncfusion Blazor UI components together in a
            real-world application scenario. You can further explore the source code of this application and use it as a
            reference for integrating Syncfusion Blazor UI components into your applications.
        </p>
        <div class='list-heading'>List of EJ2 Blazor UI components used in this sample</div>
        <div class='about-component'>
            <div class='control-item'>
                <span class="ejimage-checkbox e-sb-icon control-icon"></span>
                <a class='control-name' href="https://ej2.syncfusion.com/blazor/documentation/check-box/getting-started"
                   target="_blank">CheckBox</a>
            </div>
            <div class='control-item'>
                <span class="ejimage-dialog e-sb-icon control-icon"></span>
                <a class='control-name' href="http://ej2.syncfusion.com/blazor/documentation/dialog/getting-started"
                   target="_blank">Dialog</a>
            </div>
            <div class='control-item'>
                <span class="ejimage-textboxes e-sb-icon control-icon"></span>
                <a class='control-name' href="http://ej2.syncfusion.com/blazor/documentation/textbox/getting-started"
                   target="_blank">TextBox</a>
            </div>
            <div class='control-item'>
                <span class="ejimage-dropdownlist e-sb-icon control-icon"></span>
                <a class='control-name'
                   href="http://ej2.syncfusion.com/blazor/documentation/drop-down-list/getting-started"
                   target="_blank">DropDownList</a>
            </div>
            <div class='control-item'>
                <span class="ejimage-datepicker e-sb-icon control-icon"></span>
                <a class='control-name'
                   href="http://ej2.syncfusion.com/blazor/documentation/datepicker/getting-started"
                   target="_blank">DatePicker</a>
            </div>
            <div class='control-item'>
                <span class="ejimage-button e-sb-icon control-icon"></span>
                <a class='control-name' href="http://ej2.syncfusion.com/blazor/documentation/button/getting-started"
                   target="_blank">Button</a>
            </div>
            <div class='control-item'>
                <span class="ejimage-schedule e-sb-icon control-icon"></span>
                <a class='control-name' href="http://ej2.syncfusion.com/blazor/documentation/schedule/getting-started"
                   target="_blank">Schedule</a>
            </div>
            <div class='control-item'>
                <span class="ejimage-treeview e-sb-icon control-icon"></span>
                <a class='control-name' href="https://ej2.syncfusion.com/blazor/documentation/treeview/getting-started"
                   target="_blank">TreeView</a>
            </div>
            <div class='control-item'>
                <span class="ejimage-toast e-sb-icon control-icon"></span>
                <a class='control-name' href="http://ej2.syncfusion.com/blazor/documentation/toast/getting-started"
                   target="_blank">Toast</a>
            </div>
            <div class='control-item'>
                <span class="ejimage-grid e-sb-icon control-icon"></span>
                <a class='control-name' href="http://ej2.syncfusion.com/blazor/documentation/grid/getting-started"
                   target="_blank">Grid</a>
            </div>
            <div class='control-item'>
                <span class="ejimage-chart e-sb-icon control-icon"></span>
                <a class='control-name' href="http://ej2.syncfusion.com/blazor/documentation/chart/getting-started"
                   target="_blank">Chart</a>
            </div>
            <div class='control-item'>
                <span class="ejimage-timepicker e-sb-icon control-icon"></span>
                <a class='control-name'
                   href="http://ej2.syncfusion.com/blazor/documentation/timepicker/getting-started"
                   target="_blank">TimePicker</a>
            </div>
            <div class='control-item'>
                <span class="ejimage-sidebar e-sb-icon control-icon"></span>
                <a class='control-name' href="http://ej2.syncfusion.com/blazor/documentation/sidebar/getting-started"
                   target="_blank">Sidebar</a>
            </div>
            <div class='control-item'>
                <span class="ejimage-listview e-sb-icon control-icon"></span>
                <a class='control-name'
                   href="http://ej2.syncfusion.com/blazor/documentation/list-view/getting-started"
                   target="_blank">ListView</a>
            </div>
        </div>

    </div>